<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h2 class="title">Perfil</h2>
        </div>
        <div class="card">
            <table class="text-center">
                <thead>
                    <tr>
                        <th>
                            <img src="../../assets/img/user-icon.png" class="icon" alt="">
                        </th>
                        <th>
                            <h2>username</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../assets/img/email-icon.png" class="icon" alt="">
                        </td>
                        <td>
                            <p class="big"> user.email</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../assets/img/whatsapp-icon.png" class="icon" alt="">
                        </td>
                        <td>
                            <p class="big"> user.phone</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <app-btn-edit class="right" [id]=""></app-btn-edit>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-3">Section Notificacones</div>
</div>