<div class="row" *ngIf="status.status == 'ok'; else login">
    <div class="col-md-6">
        <div class="text-center">
            <h2 class="title">Perfil</h2>
        </div>
        <div class="card">
            <table class="text-center">
                <thead>
                    <tr>
                        <th>
                            <img src="../../assets/img/user-icon.png" class="icon" alt="">
                        </th>
                        <th>
                            <h2>{{user.username}}</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../assets/img/email-icon.png" class="icon" alt="">
                        </td>
                        <td>
                            <p *ngIf="!edit; else editEmail" class="big"> {{user.email}}</p>
                            <ng-template #editEmail>
                                <input type="text" class="margin-bottom" [(ngModel)]='userEdit.email' [ngModelOptions]="{standalone: true}" placeholder="{{user.email}}">
                            </ng-template>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../assets/img/whatsapp-icon.png" class="icon" alt="">
                        </td>
                        <td>
                            <p *ngIf="!edit; else editPhone" class="big"> {{user.phone}}</p>
                            <ng-template #editPhone>
                                <input type="text" class="margin-bottom" [(ngModel)]='userEdit.phone' [ngModelOptions]="{standalone: true}" placeholder="{{user.phone}}">
                            </ng-template>
                        </td>
                    </tr>
                    <tr *ngIf="edit">
                        <td>
                            <img src="../../assets/img/pass-icon.png" class="icon" alt="">
                        </td>
                        <td>
                            <p>Ingresa tu contraseña para confirmar tu identidad</p>
                            <input type="password" class="margin-bottom" [(ngModel)]='userEdit.password' [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <app-btn-edit *ngIf="!edit; else cancel" class="right" (toggleEdit)="toggleEdit($event)"></app-btn-edit>
                <ng-template #cancel>
                    <img src="../../assets/img/cancel-icon.png" class="right icon margin-left" (click)="toggleEdit(false)" alt="">
                    <img src="../../assets/img/save-icon.png" class="right icon margin-left" (click)="save()" alt=" ">
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-3 ">
        <app-ikaruna-notifications></app-ikaruna-notifications>
    </div>
</div>
<ng-template #login>
    <app-log-and-check-in></app-log-and-check-in>
</ng-template>