<div class="text-center">
    <h2 class="title">Consultas</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Pregunta</th>
            <th>Usuario</th>
            <th>E mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>

<!-- On rows 
<tr class="table-secondary">...</tr>
<tr class="table-danger">...</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr>

 On cells (`td` or `th`) 
<tr>
  <td class="table-primary">...</td>
  <td class="table-secondary">...</td>
  <td class="table-success">...</td>
  <td class="table-danger">...</td>
  <td class="table-warning">...</td>
  <td class="table-info">...</td>
  <td class="table-light">...</td>
</tr>-->