<form class="text-center">
    <select class="form-select" aria-label="Default select example">
            <option selected>Terapia</option>
            <option value="1">Reiki</option>
            <option value="2">Masaje Venusiano</option>
            <option value="3">Tarot</option>
        </select>

    <div class="div-margin-top">
        <label for="inputDate" class="form-label">Fecha: </label>
        <input type="date" id="inputDate">
    </div>

    <div class="div-margin-top">
        <label for="inputTime" class="form-label">Hora: </label>
        <input type="time" id="inputTime">
    </div>

    <div class="div-margin-top d-grid gap-2 col-6 mx-auto">
        <button (click)="postTurn()" class="btn btn-primary">Solicitar turno</button>
        <span class="badge bg-warning text-dark">Sujeto a disponibilidad.</span>
    </div>
</form>

<app-ikaruna-contact></app-ikaruna-contact>