<table class="table">
    <thead>
        <tr>
            <th>Día</th>
            <th>Hora</th>
            <th>Terapia</th>
            <th>Paciente</th>
            <th>Confirmar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shift of shifts" [ngClass]="{'table-warning': !shift.status}">
            <td>{{shift.date}}</td>
            <td>{{shift.time}}</td>
            <td>{{shift.therapy}}</td>
            <td>{{shift.patient}}</td>
            <td *ngIf="!status">
                <button type="button" class="btn btn-success" (click)="agree(shift)">Confirmar</button>
                <button type="button" class="btn btn-danger margin-left" (click)="delete(shift)">Rechazar</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- On rows 
<tr class="table-secondary">...</tr>
<tr class="table-danger">...</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr>

 On cells (`td` or `th`) 
<tr>
  <td class="table-primary">...</td>
  <td class="table-secondary">...</td>
  <td class="table-success">...</td>
  <td class="table-danger">...</td>
  <td class="table-warning">...</td>
  <td class="table-info">...</td>
  <td class="table-light">...</td>
</tr>-->