<table class="table">
    <thead>
        <tr>
            <th>Fecha y hora</th>
            <th>Terapia</th>
            <th>Paciente</th>
            <th>Confirmar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shift of (shifts$ | async)" [ngClass]="{'table-warning': shift.status == 0}">
            <td>{{shift.date}}</td>
            <td>{{shift.name}}</td>
            <td>{{shift.patient_name}}</td>
            <td>
                <img *ngIf="shift.status == 0" src="../../assets/img/save-icon.png" class="icon" (click)="agree(shift)" alt="Confirmar">
                <app-btn-delete [id]="shift.id" (delete)="delete($event)" class="icon margin-left"></app-btn-delete>
            </td>
        </tr>
    </tbody>
</table>

<!-- On rows 
<tr class="table-secondary">...</tr>
<tr class="table-danger">...</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr>

 On cells (`td` or `th`) 
<tr>
  <td class="table-primary">...</td>
  <td class="table-secondary">...</td>
  <td class="table-success">...</td>
  <td class="table-danger">...</td>
  <td class="table-warning">...</td>
  <td class="table-info">...</td>
  <td class="table-light">...</td>
</tr>-->