<div class="text-center">
    <h2 class="title">Talleres</h2>
</div>
<div class="row" *ngFor="let ws of workshops">
    <div class="col-md-11">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title title">{{ws.name}}</h5>
                        <p class="card-text">{{ws.caption}}</p>
                        <button type="button" class="btn btn-outline-primary" (click)="deleteSelected()" *ngIf="selected; else dontSelected">Ver menos</button>
                        <ng-template #dontSelected>
                            <button type="button" class="btn btn-outline-primary" (click)="setSelected(ws)">Ver más...</button>
                            <button *ngIf="status.isAdmin != 1; else admin" type="button" class="btn btn-success" style="margin-left: 10px;">Quiero hacer este taller!</button>
                            <ng-template #admin>
                                <app-btn-delete class="right" *ngIf="status.isAdmin == 1" [id]="ws.id" (delete)="delete($event)"></app-btn-delete>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row g-0" *ngIf="(selected) && (selected.id == ws.id)">
                <div class="col-md-12">
                    <h6>Contenidos:</h6>
                    <p>{{ws.contents}}</p>
                    <h6>Modalidad:</h6>
                    <p>{{ws.modality}}</p>
                </div>
                <div class="col-md-5 offset-md-7" style="margin-bottom: 10px;">
                    <button *ngIf="status.isAdmin != 1; else admin" type="button" class="btn btn-success">Quiero hacer este taller!</button>
                    <ng-template #admin>
                        <app-btn-delete class="right" *ngIf="status.isAdmin == 1" [id]="ws.id" (delete)="delete($event)"></app-btn-delete>
                        <app-btn-edit class="right" (toggleEdit)="toggleEdit($event)"></app-btn-edit>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 ">
    </div>
</div>