<div class="text-center">
    <h2 class="title">Terapias</h2>
</div>
<div class="accordion" id="accordionExample">
    <div *ngFor="let therapy of therapies" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" (click)="setSelected(therapy)">
                {{therapy.name}}
            </button>
        </h2>

        <div *ngIf=" (selected) && (selected.id==therapy.id) " class="accordion-collapse collapse show ">
            <div class="accordion-body ">
                <p>{{therapy.description}}</p>
                <strong>Terapeuta/s: </strong> {{therapy.therapist_name}}
                <div class="col-md-4 offset-md-8" style="margin-bottom: 10px;">
                    <app-btn-delete class="right" *ngIf="status.isAdmin == 1" [id]="therapy.id" (delete)="delete($event)"></app-btn-delete>
                    <app-btn-edit class="right" [id]="therapy.id" (edit)="edit($event)"></app-btn-edit>
                </div>
            </div>
        </div>
    </div>
</div>