<h5 class="modal-title text-center">Agregá una nueva terapia!</h5>

<form>
    <div class="mb-3">
        <label for="inputName" class="form-label">Nombre de la terapia</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
        <label for="textarea" class="form-label">Descripción</label>
        <textarea class="form-control" id="textarea" rows="3"></textarea>
    </div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Terapeuta</option>
        <option value="0">Gri y Sole</option>
        <option value="1">Gri</option>
        <option value="2">Sole</option>
      </select>
    <div class="div-margin-top d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
</form>