<h5 class="modal-title text-center">Ingresá tus datos</h5>

<form>
    <div class="mb-3">
        <label for="inputName" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputTel" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="inputTel">
    </div>
    <div class="mb-3">
        <label for="inputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword1">
    </div>
    <div class="mb-3">
        <label for="inputPassword2" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control" id="inputPassword2">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="div-button d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </div>
</form>