<div class="box-form">
<div class="text-center">
    <h2 class="title">Ingresá tus datos</h2>
</div>

<form>
    <div class="mb-3">
        <label for="inputName" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre Apellido" [(ngModel)]='user.username' [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com" [(ngModel)]='user.email' [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label for="inputTel" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="inputTel" placeholder="2262345678" [(ngModel)]='user.phone' [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label for="inputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword1" [(ngModel)]='user.password' [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label for="inputPassword2" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control" id="inputPassword2" [(ngModel)]='user.repassword' [ngModelOptions]="{standalone: true}">
    </div>
    
    <div class="div-button d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary" (click)='readData()' [disabled]="loading">Registrarme</button>
    </div>
</form>
</div>
<app-fast-note class="fast-note" *ngIf="viewNote" [note]='msgNote'></app-fast-note>