<div class="text-center">
    <h2 class="title">Consulta</h2>
</div>
<form>
    <div class="mb-3">
        <label for="textarea" class="form-label">Ingresá tu consulta para recibir la respuesta en tu correo</label>
        <textarea class="form-control" id="textarea" rows="3" [(ngModel)]='q.text' [ngModelOptions]="{standalone: true}"></textarea>
    </div>

    <div class="div-margin-top d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-primary" (click)="add()">Enviar</button>
    </div>
</form>

<app-ikaruna-contact></app-ikaruna-contact>
<app-fast-note class="fast-note" *ngIf="viewNote" [note]='msgNote'></app-fast-note>