<div class="row main">
<div class="col-md-4 offset-md-4 box margin-bottom " *ngIf="registered; else checkIn">
    <app-ikaruna-login></app-ikaruna-login>
    <div class="div-margin-top margin-bottom d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary" (click)="toggleRegistered()">Aún no tengo cuenta</button>
    </div>
</div>
<ng-template #checkIn>
    <div class="col-md-4 offset-md-4 log">
        <app-ikaruna-check-in></app-ikaruna-check-in>
        <div class="div-margin-top margin-bottom d-grid gap-2 col-6 mx-auto">
            <button *ngIf="login; else other" type="submit" [routerLink]="[ '/'] " class="btn btn-primary" (click)="toggleRegistered()">Ya tengo una cuenta</button>
            <ng-template #other>
                <button type="submit" class="btn btn-primary" (click)="toggleRegistered()">Ya tengo una cuenta</button>
            </ng-template>
        </div>
    </div>
</ng-template>
</div>