<nav class="navbar navbar-expand-lg navbar-light my-navbar-container">
    <div class="container-fluid">
        <!--<button class="navbar-toggler mini" type="button" data-bs-toggle="collapse" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">-->
        <span (click)="toggleNavbar()" class="navbar-toggler-icon my-toggler"></span>
        <!--</button>-->
        <img src="../assets/img/logoCuadrado.jpg" width="100" alt="" class="navbar-brand logo-navbar" [routerLink]="['/']">
        <div class="navbar-collapse my-navbar" [ngClass]="{'responsive-hide': !navbarExpand}">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="my-nav-link">
                    <a class="nav-link" [routerLink]="['/']" (click)="toggleNavbar()">Terapias </a>
                </li>
                <li class="my-nav-link">
                    <a class="nav-link" [routerLink]="['workshops']" (click)="toggleNavbar()">Talleres</a>
                </li>
                <li class="my-nav-link">
                    <a class="nav-link" [routerLink]="['about']" (click)="toggleNavbar()">Sobre nosotras</a>
                </li>
                <li class="my-nav-link">
                    <a class="nav-link" [routerLink]="['questions']" (click)="toggleNavbar()">Consultas</a>
                </li>
                <li class="my-nav-link">
                    <a class="nav-link" [routerLink]="['shifts']" (click)="toggleNavbar()">Turnos</a>
                </li>
                <li class="my-nav-link" *ngIf="status.isAdmin == 1">
                    <a class=" nav-link " [routerLink]="[ 'users'] " (click)="toggleNavbar()">Users</a>
                </li>
                <li class="my-nav-link" *ngIf="status.status == 'ok'">
                    <a class=" nav-link " [routerLink]="[ 'profile'] " (click)="toggleNavbar()">Perfil</a>
                </li>
                <li class="my-nav-link" *ngIf="status.status == 'ok'">
                    <a class=" nav-link " [routerLink]="[ 'notifications'] " (click)="toggleNavbar()">Notificaciones</a>
                </li>
                <li class="my-nav-link ">
                    <a class="nav-link " *ngIf="status.status=='ok' ; else login " (click)="logout() " [routerLink]="[ 'login'] ">Cerrar sesión</a>
                    <ng-template #login>
                        <a class="nav-link " [routerLink]="[ 'login'] " (click)="toggleNavbar()">Iniciar sesión</a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container ">
    <router-outlet></router-outlet>
</div>