<img class="border-bottom-orange" src="assets/img/bandaMandala.jpg" alt="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="" width="100" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Terapias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['workshops']">Talleres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['about']">Sobre nosotras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['questions']">Consultas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['shifts']">Turnos</a>
            </li>
            <li class="nav-item" *ngIf="status.isAdmin == 1">
                <a class=" nav-link " [routerLink]="[ 'users'] ">Users</a>
            </li>
            <li class="nav-item" *ngIf="status.status == 'ok'">
                <a class=" nav-link " [routerLink]="[ 'profile'] ">Perfil</a>
            </li>
            <li class="nav-item" *ngIf="status.status == 'ok'">
                <a class=" nav-link " [routerLink]="[ 'notifications'] ">Notificaciones</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " *ngIf="status.status=='ok' ; else login " (click)="logout() " [routerLink]="[ 'login'] ">Cerrar sesión</a>
                <ng-template #login>
                    <a class="nav-link " [routerLink]="[ 'login'] ">Iniciar sesión</a>
                </ng-template>
            </li>
        </ul>
    </div>
    <!-- <img src="../assets/img/dark-mode-icon.png " class="right " (click)="toggleDarkMode() "> -->
</nav>


<div class="container ">
    <router-outlet></router-outlet>
</div>