<br>
<div class="row text-center">
    <div class="col-md-12 offset-md-1">
        <div class=" card middle ">
            <div class="card-body ">
                <div class="text-center ">
                    <h2 class="title ">Un poco sobre nosotras...</h2>
                </div>
                <p class="card-text ">
                    Hola!! Somos Gri y Sole, madre e hija, y creadoras del espacio <strong>Ikaru-Na</strong>, que significa no te enojes. Apasionadas por Reiki, nos recibimos y abrimos nuestro espacio, al que, poco a poco, fuimos sumando más diplomas
                    de diferentes terapias.
                </p>
                <p class="card-text ">
                    Te damos la bienvenida a nuestra página y te invitamos a recorrerla, dejar tus inquietudes, sacar turnos, anotarte en algún taller y, si lo preferís, consultarnos al WhatsApp.
                </p>
                <p class="card-text ">
                    Consultanos y charlamos.
                </p>
            </div>
            <img src="../../assets/img/about.jpeg " class="card-img-bottom " alt="... ">
        </div>
    </div>
</div>