<div class="row">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h2 class="title">Un poco sobre nosotras...</h2>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde quis consectetur atque ab magni. Similique itaque, quam amet ab exercitationem maxime fuga. Placeat, fugiat quidem. Eius velit quia illo!</p>
            </div>
            <img src="..." class="card-img-bottom" alt="...">
        </div>
    </div>
</div>