<div *ngIf="status.status != 'ok'; else logged">
    <app-log-and-check-in></app-log-and-check-in>
</div>
<ng-template #logged>
    <div *ngIf="status.isAdmin ==1 ; else user">
        <app-add-edit-therapy *ngIf="page == 'therapies'" [edit]="editTrp"></app-add-edit-therapy>
        <app-add-edit-workshop *ngIf="page == 'workshop'" [edit]="editWs"></app-add-edit-workshop>
    </div>
    <ng-template #user>
        <div>
            <app-ikaruna-apply-shift *ngIf="page == 'therapies'"></app-ikaruna-apply-shift>
            <app-add-question *ngIf="page == 'workshop'"></app-add-question>
        </div>
    </ng-template>
    <app-ikaruna-apply-shift *ngIf="page =='shift'"></app-ikaruna-apply-shift>
</ng-template>