<div class="row">
    <div class="text-center">
        <h1 class="title">Consultas</h1>
    </div>
    <div class="col-md-12" *ngIf="status.status == 'ok'; else notLogged">
        <app-question-list *ngIf="status.isAdmin == 1; else notAdmin"></app-question-list>
        <ng-template #notAdmin>
            <div class="col-md-4 offset-md-4">
                <app-add-question></app-add-question>
            </div>
        </ng-template>
    </div>
    
    <ng-template #notLogged>
        <div class="text-center">
            <strong>Para realizar una consulta debe iniciar sesión</strong>
        </div>
        <div class="col-md-12 min-height">
            <app-ikaruna-section></app-ikaruna-section>
        </div>
    </ng-template>
</div>