<div class="div-margin-top d-grid gap-2 col-6 mx-auto">
    <h4 class="text-center">o consultanos por WhatsApp!</h4>
</div>
<div class="div-margin-top d-grid gap-2 col-6 mx-auto">
    <a href="https://wa.me/5492262485889" target="_blank">
        <img src="../../assets/img/whatsapp-icon.png" class="icon" alt=""> Escribirle aGri
    </a>
</div>
<div class="div-margin-top d-grid gap-2 col-6 mx-auto">
    <a href="https://wa.me/5492262630591" target="_blank">
        <img src="../../assets/img/whatsapp-icon.png" class="icon" alt=""> Escribirle a Sole
    </a>
</div>